/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

button,
summary {
	cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #fff;
	--margin: 0 7vw;
	--padding: 0 7vw;
}



/* General */
body {
	color: var(--color-text);
	background-color: var(--color-background);
	margin: 0px;
}

img {
	width: 100%;
	;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
li,
span {
	font-family: 'Roboto', sans-serif;
}

section {
	margin: var(--margin);
}

a {
	color: #000;
	text-decoration: none;
	transition: 0.2s ease-in-out;
}

a:hover {
	color: #d5001c;
	transition: 0.2s ease-in-out;
}

li {
	list-style-type: none;
}

/* Headings */
h2 {
	font-size: 44px;
}

/* Navigation bar */
header nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: flex-start;
	margin: var(--margin);
}

/* Cars in menu */
header nav ul {
	display: flex;
}

header nav ul button {
	padding: 0 0.25rem;
	/* list-style-type: none; */
	text-align: center;
	cursor: default;
	background: none;
	border: none;
}

header nav ul button:hover p {
	color: #d5001c;
	border-bottom: solid 3px #d5001c;
}

header nav ul p {
	margin: 0;
	margin-top: -10px;
	color: #000;
	padding-bottom: 30px;
}


/* main logo */
header>nav>a>img {
	width: 8.3125rem;
}

header>nav>a>img {
	z-index: 9999;
	order: 0;
	flex: 0 1 auto;
	align-self: flex-start;
	border: 0.0625rem solid #e3e4e5;
	position: relative;
	background: #ffffff;
	height: 8.3125rem;
	margin-bottom: -0.9375rem;
	padding: 1.75rem 0.25rem 1.875rem 0.25rem;
}

/* Ordering items in menu */
header nav ul:nth-child(2) {
	order: 0;
	flex: 1 1 auto;
	align-self: flex-start;
	margin-top: 10px;
	padding-top: 0;
	margin-bottom: 0;
	padding-left: 20px;
}

header nav ul:last-child {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
}

/* mega dropdown menu */
header nav nav {
	position: absolute;
	top: 118px;
	left: 0;
	width: 100%;
	margin: 0;
	display: flex;
	max-height: 0px;
	z-index: 998;
	transition: 0.2s ease-in-out;
	background: #ffffff;
	padding: var(--margin);
	overflow: hidden;
	/* transition: 2s; */
	/* border-top: solid 2px #cccccc; */
}

header nav nav ul {
	display: block;
	color: #000;
}

/* Mega menu dropdown lists */
/* first list */
body .dropdown-active nav {
	max-height: 2000px;
	/* z-index: 998; */
	/* transition: 0.5s ease-in-out; */
	/* border-top: solid 0px #f00; */
}

header nav nav ul:first-of-type {
	width: 80%;
	padding-right: 40px;
}

header nav nav ul:first-of-type li {
	width: 100%;
	margin: 10px 0px;
	padding: 20px 0px;
	text-align: left;
	border-bottom: solid 0.5px #ccc;
}

header nav nav ul:first-of-type>li:first-of-type {
	font-weight: bold;
	font-size: 30px;
}

/* models list (second) */
header nav nav ul:last-child {
	padding: 0;
	width: 100%;
	flex: 1 1 auto;
}

header nav nav ul:last-child li {
	width: 100%;
	margin: 10px 0px;
	border: solid 1px;
	padding: 15px 20px;
	text-align: left;
	transition: 0.25s ease-in-out;
}

header nav nav ul:last-child li:hover {
	transition: 0.25s ease-in-out;
	background-color: #000;
	color: #ffffff;
}

header nav nav img {
	flex: 1;
}

/* Models homepage */
.models ul {
	/* display: grid; */
	margin: 0;
	padding: 0em;
	list-style: none;
	/* flex-wrap: wrap; */
	/* justify-content: center; */
	/* padding-left: 0; */
	/* margin: 0; */
	/* display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px; */
}

.models ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
	/* gap: 1em; */
}

.models ul li {
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	row-gap: 0.2em;
}

.models ul li h3 {
	grid-column: 1/-1;
	grid-row-start: 2;
	z-index: 50;
	margin: 0;
	display: grid;
	grid-template-columns: min-content;
	line-height: 1em;
}

.models ul li p {
    grid-column: 1/-1;
    grid-row-start: 2;
    z-index: 50;
    line-height: 1em;
}

.models ul li img {
	grid-area: 1 / 1 / -1 / -1;
	justify-self: end;
	align-self: stretch;
	height: 100%;
}

.models ul li a:first-of-type {
	/* grid-column: 1/-1;
	grid-row-start: 3;
	z-index: 50;
	margin: 0;
	display: grid;
	grid-template-columns: min-content;
	line-height: 1em; */
}
.models ul li a:nth-of-type(2) {
	/* grid-column: 1/-1;
	grid-row-start: 3;
	z-index: 50;
	margin: 0;
	display: grid;
	grid-template-columns: min-content;
	line-height: 1em; */
}

/* .models>ul>li {
	position: relative;
	flex: 0 0 33.333333%;
	margin-bottom: -4px;
}

.models .model-content {
	position: absolute;
	top: 0;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding: 15px 30px 50px 30px;
} */
/* 
.models p {
	color: #fff;
	font-weight: bold;
}

.models a {
	background-color: #fff;
	padding: 13px 21px;
}

.models div:first-of-type p:first-of-type {
	font-size: 36px;
	margin: 0;
}

.models div:first-of-type p {
	font-size: 20px;
	margin-top: 5px;
} */

/* discover homepage */
section.discover {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 0;
}

section.discover h2 {
	flex: 1 0 100%;
}

section.discover a {
	flex: 1 0 21%;
}

/* service homepage */
section.service {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 0;
}

section.service h2 {
	flex: 1 0 100%;
}

section.service a {
	flex: 1 0 21%;
}

/* footer */
footer nav {
	display: flex;
	margin: var(--margin);
}

footer nav section {
	margin: 0;
	flex: 1;
	background-color: #ffffff;
}

footer nav ul {
	padding: 0;
}

footer nav ul li {
	padding: 8px 0px;
}

footer nav ul li a {
	padding-top: 8px;
	padding-bottom: 8px;
	line-height: 1.92857em;
}

footer>section:last-of-type {
	margin: 0;
	padding: var(--padding);
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #191f22;
	color: #ffffff;
}

footer>section:last-of-type a {
	color: #ffffff;
}

/* Carousel */
.swiper-section {
	margin: 0;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-wrapper {
	margin: 0;
	padding: 0;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide ul {
	position: absolute;
	text-align: left;
	bottom: 0;
	left: 0;
	margin: var(--margin);
	padding: 0;
	padding-bottom: 50px;
}

.swiper-slide ul li a {
	font-size: 46px;
	color: #ffffff;
	font-weight: bold;
	padding: 0;
	margin: 0;
	transition: 0.25s;
}

.swiper-slide ul:hover a {
	transition: 0.25s;
	color: #d5001c;
}

.swiper-slide ul li:nth-of-type(2) a {
	font-size: 26px;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Arrows slider */
.swiper-button-prev,
.swiper-button-next {
	padding: 20px;
	background-color: #ffffff;
	transition: 0.2s ease-in-out;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
	background-color: #d5001c;
	transition: 0.2s ease-in-out;
}

.swiper-button-prev:hover:after,
.swiper-button-next:hover:after {
	color: #ffffff;
	transition: 0.2s ease-in-out;
}

body .swiper-button-prev:after,
body .swiper-button-next:after {
	font-size: 15px;
	color: #d5001c;
	transition: 0.2s ease-in-out;
}

/* bullets slider */
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
	padding-bottom: 10px;
}

body .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px);
}

body .swiper-pagination-clickable .swiper-pagination-bullet-active {
	background-color: #d5001c;
}

body .swiper-pagination-bullet {
	background-color: #c8cacb;
	opacity: 1;
}


/* Configurate page */
.main-configurate{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: flex-start;
	margin: var(--margin);
	margin-top: 100px;
}

/* colors */
ul.colors-list {
	display: flex;
    padding: 0;
    gap: 20px;
}
ul.colors-list li button {
    height: 60px;
    width: 60px;
}
.black{
	background-color: #000;
}
.white{
	background-color: #efefef;
}
.moonlightblue{
	background-color: #000033;
}
.red{
	background-color: #990033;
}